/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  	background-image: url("images/asian_children-bk.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
}

.center_text {
    width: 500px;
	padding: 2%;
    margin: 100px auto;
	background-color:rgba(218, 165, 32, 0.548);
	text-align: center;
	position: relative;
	left: 430px;
	top: -50px;
}

.center_quote {
    width: 340px;
	padding: 2%;
    margin: 100px auto;
	background-color:rgba(218, 165, 32, 0.548);
	text-align:justify;
	position: relative;
	top: -100px;
	left: -200px;
}
   
#logo {
	vertical-align:middle;
	position: relative;
	left:-660px;
	top: -40px;
}

h1 {
	font-family: urbane-rounded,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

h3 {
	font-family: urbane-rounded,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
	text-align: right;
    margin: 5px auto 10px auto;
    color: #fff;
}

p {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 200;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}

nav{
	font-family: Raleway
	font-size 1.2em;
	width: 400px;
	margin: 0 auto;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
}

nav li{
	display: inline;
}

nav a{
	padding: 10px;
	background:rgba(218, 165, 32, 0.63)
}
a{
	color:#fff;
	text-decoration: style;
	font-family: urbane-rounded,sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1em;
    margin: 0px auto 10px auto;
    color: #fff;
	font-weight: bold;
}
a:hover{
	color:#fff;
	background:rgb(218, 165, 32);
}
    
    

